@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
/* Shared CSS style here */
.banner-description,.web-dev-section-description,.inspiration-section-dsescription,
.target-section-description,.support-section-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 0 160px;
    opacity: 0.7;
}

.web-dev-section-title, .inspiration-section-title, .target-section-title,.support-section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 0px;
    text-align: center;
}


/* banner-section styles starts here */
header{
    background-image: url(./assets/Hero-bg.png);
    height: 865px;
    /* height: 652px; */
}
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-image{
    margin-top: 70px;
    /* width: 87px;
    height: 65px;
    margin-left: 0px; */
}
.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 80px;
}

.btn{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 50px;
}
/* banner section styles ends  */

.web-development-section{
    margin-top: 90px;

}
/* web-dev-section starts here */
.web-dev-section{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 90px;
    border-radius: 16px;
    /* background: rgba(13, 19, 33, 0.02); */
    background: rgba(13, 19, 33, 0.1);
    gap: 35px;
}

.first-web-dev{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px 20px 30px 40px;
}
.web-dev-text-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
}
.web-dev-text-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    padding-right: 90px; 
}
.web-dev-image{
    display: block;
    /* margin-top: 50px; */
}
.second{
    gap: 100px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    /* padding: 23px 0; */
    /* border: 2px solid red; */
}
.btn-learn-more{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
}

/* inspiration-section styles starts here */
.inspiration-section{
    padding-top: 120px;
    width: 85%;
    margin: 0 auto ;
}
.inspiration-section-dsescription{
    padding:30px 50px 80px;    
}
.video-box{
    /* border: 2px solid red; */
    padding: 20px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
iframe{
    border-radius: 16px;
    margin: 15px 0px;
}

/* inspiration-section styles ends here */

/* target-section styles starts here */
.target-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 100px;
}
.target-skill-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.target-section-description{
    padding: 29px 0px;
}
.target-one{
    width: 28%;
    /* border: 2px solid red; */
    padding: 30px;
}
.target-one-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    /* text-align: left; */
    margin-left: 8px;
}
.target-one-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 8px;
    opacity: 0.7;
}


a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-left: 8px;
}
.one-box{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.two-box{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.three-box{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}


/* support section starts here */
.support-section{
    background-image: url(/assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    /* background-blend-mode: color-burn; */
    width: 85%;
    margin: 0 auto;
    height: 450px;
    border-radius: 16px;
    padding-bottom: 100px;
    /* background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5); */
    /* padding: 220px; */
}
.support-section-title,.support-section-description{
    color:rgb(255, 255, 255);
}
input[type="text"]{
    /* width: 650px;
    height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 19px 20px 19px 20px;
}
.support-section-title{
    padding-top: 64px ;
}
.last-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}